
h1 {
    text-align: center;
    font-family: Playfair Display;
    font-size: 2.5rem
}

h2 {
    text-align: center;
    font-family: Playfair Display;
}

body {
    background-color: #FAE0C6;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.content {
    width: 50%;
    margin: auto;
}

.header {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.description {
    /* font-family: Noto Sans Mono; */
    font-family: Open Sans;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.input {
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.input .search {
    position: relative;
    margin: auto;
    height: 50px;
}

.search input{
    position: absolute;
    right: 0;
    height: 80%;
    width: 100%;
    padding-left: 20px;
    padding-right: 0px;
    background-color: #FAE0C6;
    border: 1px solid black;
}

.search .action-search{
    position: absolute;
    right: -22px;
    width: 45px;
    height: 80%;
    padding: 1px;
    line-height: 40px;
    text-align: center;
    color: black;
    background: #FAE0C6;
    border: 1px solid black;
}

.search label:hover {
    background: #dec7af;
  } */
  
.search ::placeholder {
    color: black;
}

button {
    background-color: #FAE0C6;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    font-family: Open Sans;
}

button:hover {
    background-color: #dec7af;
}

#results-movies {
    font-family: Open Sans;
    display: flex;
    flex-wrap: wrap;
    background-color: #8ac0a5;
    justify-content: center;
} 

#results-movies h3 {
    font-family: Playfair Display;
    font-size: 1.5rem;
    /* color: #E4501C; */
    height: 40px;
}

.result-movie {
    /* border-bottom: 1px solid black;
    padding-bottom: 20px; */
    width: 23%;
    margin: 5px;
}

img {
    width: 100%;
    height: 50%;
}

.collapse {
    background-color: #8ac0a5;
    /* color: white; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapse:hover {
    background-color: #99d6b8;
  }
  
  .collapse:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .text {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

#results-movies h5 {
    font-size: 1rem;
}

.sources {
    /* font-weight: bold; */
    color: #CC3484;
}

a {
    color: #CC3484;  
}
